bfgminer
bfgminer.exe
bfgminer-rpc
bfgminer-rpc.exe
bitforce-firmware-flash
cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.bin

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub
70-bfgminer.rules

mingw32-config.cache

*~
*.orig
*.rej
*.swp
*.kate-swp

ext_deps
config.h.in
config.h

ccan*/libccan.a
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h
iospeeds_local.h
version.h
version.h.new

mkinstalldirs

.pc
bfgminer-bitforce.conf

vgcore.*
core*
*.log
*.json
*.patch
*.zip
*.tbz2
*.bz2
