[submodule "libblkmaker"]
	path = libblkmaker
	url = git://gitorious.org/bitcoin/libblkmaker.git
[submodule "ccan"]
	path = ccan-upstream
	url = git://git.ozlabs.org/~ccan/ccan
[submodule "libbase58"]
	path = libbase58
	url = git://github.com/luke-jr/libbase58.git
