Source: cgminer
Priority: optional
Section: misc
Maintainer: Con Kolivas <kernel@kolivas.org>
Standards-Version: 2.4.0
Build-Depends: build-essential, libssl-dev, yasm, pkg-config, libudev-dev, libcurl3, curl, libncurses5, libncurses5-dev

Package: cgminer
Architecture: any
Depends: ${shlibs:Depends}, libssl-dev (>=1.0.0), yasm, pkg-config, libudev0, curl (>=7.0.0), ncurses-bin (>=5), ${misc:Depends}
Description: This is a multi-threaded multi-pool GPU, FPGA and CPU miner with ATI GPU
 monitoring, (over)clocking and fanspeed support for bitcoin and derivative
 coins.
