Source: bfgminer
Priority: optional
Section: misc
Maintainer: Luke Dashjr <luke_bfgminer@dashjr.org>
Standards-Version: 2.9.1
Build-Depends: build-essential, debhelper, autoconf, automake, libtool, libssl-dev, yasm, pkg-config, libudev-dev, libcurl4-openssl-dev, wget, unzip, libjansson-dev, libncurses5-dev, libudev-dev, libusb-1.0-0-dev, git, quilt

Package: bfgminer
Architecture: any
Depends: libjansson4, libssl1.0.0, libudev0, libcurl3, libncurses5, libusb-1.0-0
Description: This is a multi-threaded multi-pool GPU, FPGA and CPU miner with ATI GPU
 monitoring, (over)clocking and fanspeed support for bitcoin and derivative
 coins.
