#!/usr/bin/make -f
%:
	dh $@


override_dh_auto_configure:
	NOSUBMODULES=1 ./autogen.sh
	dh_auto_configure -- --enable-ztex --enable-bitforce --enable-icarus --enable-cpumining --enable-keccak --enable-scrypt --enable-opencl

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/bfgminer install

override_dh_shlibdeps:
	dh_shlibdeps -Xbfgminer
